
  %icon-bookmark-full {
  content: "\f101";
  }

  .icon-bookmark-full:before {
  content: "\f101";
  }

  %icon-category-movie {
  content: "\f102";
  }

  .icon-category-movie:before {
  content: "\f102";
  }

  %icon-category-tv {
  content: "\f103";
  }

  .icon-category-tv:before {
  content: "\f103";
  }

  %icon-nav-bookmark {
  content: "\f104";
  }

  .icon-nav-bookmark:before {
  content: "\f104";
  }

  %icon-nav-home {
  content: "\f105";
  }

  .icon-nav-home:before {
  content: "\f105";
  }

  %icon-nav-movies {
  content: "\f106";
  }

  .icon-nav-movies:before {
  content: "\f106";
  }

  %icon-nav-tv-series {
  content: "\f107";
  }

  .icon-nav-tv-series:before {
  content: "\f107";
  }

  %icon-search {
  content: "\f108";
  }

  .icon-search:before {
  content: "\f108";
  }
